---
import { string } from "astro/zod";

const { frontmatter } = Astro.props;
const { images, tags, h1 } = frontmatter;
const cantidad = `width: ${Math.round(50 / parseInt(images.length))}vh`;
console.log(cantidad);
---

<article>
    <section>
        <div class="titulo">
            <h1>{h1}</h1>
            {
                tags.map((tag: string) => (
                    <a href={`/tags/${tag}`}>
                        <span class="tag">{tag}</span>
                    </a>
                ))
            }
        </div>
        <slot />
    </section>
    <section>
        {
            images.map((i: { url: string; alt: string }) => (
                <img src={i.url} alt={i.alt} style={cantidad} />
            ))
        }
    </section>
</article>

<style>
    a {
        text-decoration: none;
        color: white;
    }

    a:focus {
        text-decoration: none;
        color: white;
    }
    .titulo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .tag {
        background-color: rgb(206, 24, 230);
        border-radius: 10px;
        padding: 6px;
        font-size: 12px;
    }
    .tag:hover {
        box-shadow: 0px 0px 4px 3px blue;
    }
    .tag:nth-child(2n) {
        background-color: cadetblue;
    }

    article {
        display: flex;
        flex-direction: row;
        height: 100vh;
        padding: 100px;
    }
    section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        gap: 20px;
    }
    p {
        margin: 20px 0 20px 0;
        font-size: large;
    }
    img {
    }
    img:nth-child(1n) {
        margin-right: auto;
    }
    img:nth-child(2n) {
        margin-left: auto;
        margin-right: 50px;
    }
    img:hover {
        transform: scale(1.2);
    }
</style>
